In [4]:
import pandas as pd

df = pd.read_csv("marketing_campaign.csv", sep="\t")


print(df.head())
print(df.info())
print(df.isnull().sum())

     ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0
3  6182        1984  Graduation       Together  26646.0        1         0
4  5324        1981         PhD        Married  58293.0        1         0

  Dt_Customer  Recency  MntWines  ...  NumWebVisitsMonth  AcceptedCmp3  \
0  04-09-2012       58       635  ...                  7             0
1  08-03-2014       38        11  ...                  5             0
2  21-08-2013       26       426  ...                  4             0
3  10-02-2014       26        11  ...                  6             0
4  19-01-2014       94       173  ...                  5             0

   AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  \
0             0             0             0             0         0
1             0             0             0             0         0
2             0             0             0             0         0
3             0             0             0             0         0
4             0             0             0             0         0

   Z_CostContact  Z_Revenue  Response
0              3         11         1
1              3         11         0
2              3         11         0
3              3         11         0
4              3         11         0

[5 rows x 29 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB
None
ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

In [5]:
df.columns = [c.strip().lower().replace(" ", "_") for c in df.columns]
df.columns

Index(['id', 'year_birth', 'education', 'marital_status', 'income', 'kidhome',
       'teenhome', 'dt_customer', 'recency', 'mntwines', 'mntfruits',
       'mntmeatproducts', 'mntfishproducts', 'mntsweetproducts',
       'mntgoldprods', 'numdealspurchases', 'numwebpurchases',
       'numcatalogpurchases', 'numstorepurchases', 'numwebvisitsmonth',
       'acceptedcmp3', 'acceptedcmp4', 'acceptedcmp5', 'acceptedcmp1',
       'acceptedcmp2', 'complain', 'z_costcontact', 'z_revenue', 'response'],
      dtype='object')

In [6]:
df = df.drop_duplicates()

In [7]:
df['income'] = df['income'].fillna(df['income'].median())

In [8]:
df['education'] = df['education'].str.lower().str.strip()
df['marital_status'] = df['marital_status'].str.lower().str.strip()

In [9]:
print(df['education'].unique())
print(df['marital_status'].unique())

['graduation' 'phd' 'master' 'basic' '2n cycle']
['single' 'together' 'married' 'divorced' 'widow' 'alone' 'absurd' 'yolo']

In [10]:
df['marital_status'] = df['marital_status'].replace({
    'absurd': 'single',
    'yolo': 'single'
})

In [11]:
df['dt_customer'] = pd.to_datetime(df['dt_customer'], dayfirst=True)

In [12]:
df['dt_customer_dd_mm_yyyy'] = df['dt_customer'].dt.strftime('%d-%m-%Y')

In [13]:
df['income'] = df['income'].astype(int)

In [14]:
q1 = df['income'].quantile(0.25)
q3 = df['income'].quantile(0.75)
iqr = q3 - q1
lower = q1 - 1.5 * iqr
upper = q3 + 1.5 * iqr

df['income_outlier'] = (df['income'] < lower) | (df['income'] > upper)

In [15]:
print(df.info())
print(df.isnull().sum())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      2240 non-null   int64
 1   year_birth              2240 non-null   int64
 2   education               2240 non-null   object
 3   marital_status          2240 non-null   object
 4   income                  2240 non-null   int32
 5   kidhome                 2240 non-null   int64
 6   teenhome                2240 non-null   int64
 7   dt_customer             2240 non-null   datetime64[ns]
 8   recency                 2240 non-null   int64
 9   mntwines                2240 non-null   int64
 10  mntfruits               2240 non-null   int64
 11  mntmeatproducts         2240 non-null   int64
 12  mntfishproducts         2240 non-null   int64
 13  mntsweetproducts        2240 non-null   int64
 14  mntgoldprods            2240 non-null   int64
 15  numdealspurchases       2240 non-null   int64
 16  numwebpurchases         2240 non-null   int64
 17  numcatalogpurchases     2240 non-null   int64
 18  numstorepurchases       2240 non-null   int64
 19  numwebvisitsmonth       2240 non-null   int64
 20  acceptedcmp3            2240 non-null   int64
 21  acceptedcmp4            2240 non-null   int64
 22  acceptedcmp5            2240 non-null   int64
 23  acceptedcmp1            2240 non-null   int64
 24  acceptedcmp2            2240 non-null   int64
 25  complain                2240 non-null   int64
 26  z_costcontact           2240 non-null   int64
 27  z_revenue               2240 non-null   int64
 28  response                2240 non-null   int64
 29  dt_customer_dd_mm_yyyy  2240 non-null   object
 30  income_outlier          2240 non-null   bool
dtypes: bool(1), datetime64[ns](1), int32(1), int64(25), object(3)
memory usage: 518.6+ KB
None
id                        0
year_birth                0
education                 0
marital_status            0
income                    0
kidhome                   0
teenhome                  0
dt_customer               0
recency                   0
mntwines                  0
mntfruits                 0
mntmeatproducts           0
mntfishproducts           0
mntsweetproducts          0
mntgoldprods              0
numdealspurchases         0
numwebpurchases           0
numcatalogpurchases       0
numstorepurchases         0
numwebvisitsmonth         0
acceptedcmp3              0
acceptedcmp4              0
acceptedcmp5              0
acceptedcmp1              0
acceptedcmp2              0
complain                  0
z_costcontact             0
z_revenue                 0
response                  0
dt_customer_dd_mm_yyyy    0
income_outlier            0
dtype: int64
     id  year_birth   education marital_status  income  kidhome  teenhome  \
0  5524        1957  graduation         single   58138        0         0
1  2174        1954  graduation         single   46344        1         1
2  4141        1965  graduation       together   71613        0         0
3  6182        1984  graduation       together   26646        1         0
4  5324        1981         phd        married   58293        1         0

  dt_customer  recency  mntwines  ...  acceptedcmp4  acceptedcmp5  \
0  2012-09-04       58       635  ...             0             0
1  2014-03-08       38        11  ...             0             0
2  2013-08-21       26       426  ...             0             0
3  2014-02-10       26        11  ...             0             0
4  2014-01-19       94       173  ...             0             0

   acceptedcmp1  acceptedcmp2  complain  z_costcontact  z_revenue  response  \
0             0             0         0              3         11         1
1             0             0         0              3         11         0
2             0             0         0              3         11         0
3             0             0         0              3         11         0
4             0             0         0              3         11         0

   dt_customer_dd_mm_yyyy  income_outlier
0              04-09-2012           False
1              08-03-2014           False
2              21-08-2013           False
3              10-02-2014           False
4              19-01-2014           False

[5 rows x 31 columns]

In [16]:
df.to_csv("customer_personality_cleaned.csv", index=False)